@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-color-barra{
    background-color: #F5F5F5;
}
.bg-landing{
  background-image: url("./img/BG\ Landing_new.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.font-navbar{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
}

.font-navbar-movil-logo{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    color: white;
    
}

.font-navbar-movil{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    color: white;
    font-size: 15px;
    line-height: 21px;
    text-align: justify;
    
}
.font-text-welcome{
    font-family: 'Inter';
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    
    
}

.scrollbar-w-2::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

.scrollbar-track-blue-lighter::-webkit-scrollbar-track {
  --bg-opacity: 1;
  background-color: #f7fafc;
  background-color: rgba(247, 250, 252, var(--bg-opacity));
}

.scrollbar-thumb-blue::-webkit-scrollbar-thumb {
  --bg-opacity: 1;
  background-color: #edf2f7;
  background-color: rgba(237, 242, 247, var(--bg-opacity));
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
}

@layer components{
    .box-table{
        @apply border border-gray-500 p-4 rounded-xl
    }
}